<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".parent.ParentMyRanaApp"
        android:extractNativeLibs="false"
        tools:replace="android:name,android:extractNativeLibs">

        <activity
            android:name=".parent.ui.ParentMainActivity"
            android:exported="true"
            android:theme="@style/Theme.MYRana.Parent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".parent.ui.ParentScreenTimeActivity"
            android:exported="false"
            android:theme="@style/Theme.MYRana.Parent"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".parent.ui.ParentSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MYRana.Parent"
            android:windowSoftInputMode="adjustResize" />    </application>
</manifest>
